<html>
  <head>
    <title>Coaster Search Engine</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
      html {
        position: relative;
        min-height: 100%;
      }
      body {
        margin-bottom: 60px;
      }
      .container {
        width: auto;
        max-width: 710px;
        padding: 0 15px;
        color: #000033;
      }
      .container .text-muted {
        margin: 20px 0;
      }
      #meta-content{
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h2>Coaster Search Engine</h2>
        <h4>Web Search Engines, NYU 2015</h4>
        <h5>
          Miguel Amigot,
          <a href="mailto:m.amigot@nyu.edu">m.amigot@nyu.edu</a>
        </h5>
        <p>
          Search engine for educational content in English from MOOCs on edX.
          Its objective is to provide learners with a way to access videos within
          courses by searching for strings of terms that are present in their
          transcripts, using the vector (or bag-of-words) model.
        </p>
        <p>
          For a given query, the following data pertaining to relevant videos
          are retrieved: the link of the video as well as its YouTube statistics
          and transcript, the name and link of the course it belongs to and the
          subjects and institutions it falls under.
        </p>
      </div>
      <div class="col-md-8">
        <input type="text" class="form-control" id="search-query" placeholder="Search for educational content...">
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary" id="search-button">Search</button>
      </div>
    </div>
    <div class="container">
      <div id="meta-content"></div>
      <div id="video-content"></div>
    </div>

    <script>
      $("#search-button").click(function() {
        var query = $('#search-query').val();

        if(query){
          var url = '/search/' + $('#search-query').val();
          $("#search-button").addClass("btn-warning");
          $("#search-button").html("Loading...");

          $.post(url, function(data) {
            var results = JSON.parse(data);
            var query = results['query'];
            var numResults = results['count'];

            var meta = ' \
              <p id="query">Query: <b>' + query + '</b></p> \
              <p id="num-results"> Number of Results: <b>' + numResults + '</b></p> \
              <hr>';

            $("#meta-content").html(meta);
            $("#video-content").html(
              '<pre>' + JSON.stringify(results['videos'], undefined, 2) + '</pre>'
            )

            $("#search-button").removeClass("btn-warning");
            $("#search-button").html("Search");
          });
        }
      });
    </script>
  </body>
</html>
